#myCanvas{
  min-height: 50vh;
}
#hey{
  border: 1px solid blue;
}
#hey canvas{
  border: 1px solid red;
  color: aliceblue;
  color: aqua;
  color: cadetblue;
  color: fuchsia;
  color: chartreuse;
  color: chocolate;
  color: darkblue;
  color: darkgreen;
  color: darkslateblue;
  color: darkred;
  color: lightpink;
  color: darkgrey;

}

@font-face {
  font-family: 'Rustico';
  src: url("rustico_regular.ttf");
}

#A, #B, #C{
  position: absolute;
  height: 10px;
  width: 10px;
  border-radius: 50px;
  top: 0px;
  display: none;
}
#C{
  background: cyan;
}
#B{
  background: blue;
}
#A{
  background: black
}